.first {
  background: $white url('../images/design/social-media.png') bottom;
  background-size: cover;
  background-position-y: 150px;
}

.seconds {
  background-color: $white;
}

.padding-left-70{
  padding-left: 70px;
  padding-right: 20px;
}

.mobil{
  opacity: 0;
  -webkit-transform: translateX(-80px);
  -moz-transform: translateX(-80px);
  -ms-transform: translateX(-80px);
  -o-transform: translateX(-80px);
  transform: translateX(-80px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.mobil.visible {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.svg{
  stroke:#000;
  position:absolute;
  left: -100vh;
  transform-style: preserve-3d;
}


@for $i from 1 through $total {
  .svg:nth-child(#{$i}){
    right:random(120) * 1% - 20;
    animation: raise#{$i} 6 + random(15) +s linear infinite;
    animation-delay:random(5) - 5 + s;
    transform: scale(.07);
    z-index: $i - 7;
    filter: blur($i - 8 + px);
    @keyframes raise#{$i} {
      to{
        left:150vh;
        transform: scale(.07);
      }
    }
  }
}



